/* ----------------------------------------- RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* --------------------------------------------------- */
/* -------------------- FIN RESET -------------------- */
/* --------------------------------------------------- */

body {
  font-family: "Montserrat", Raleway, sans-serif;
  scroll-behavior: smooth;
}

main {
  margin : 0 30px;
}
.container {
  max-width: 980px;
  margin: 40px auto;
  clear: both;
  /*box-sizing: border-box;*/
  /*display: table;*/
  /*border: 1px solid lightgrey;*/
}

section {
}

article {
  box-sizing: border-box;
  text-align: justify;
  /*border: 1px dashed black;*/
  width: 50%;
  height: auto;
  padding: 20px 40px;
  /*float: left;*/
  display: inline-block;
  vertical-align: top;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

article h4 {
  text-align: left;
}
article p {
  text-align: left;
}

/* ----------------------------------- Insertion des images */
article#culturebd {
  background-image: url('../images/seo.jpg');
}
article#ophtalmic {
  background-image: url('../images/lentilles-contact.jpg');
}
article#novacel {
  background-image: url('../images/verres.png');
}
article#culturebd {
  background-image: url('../images/seo.jpg');
}

.annee, .lieu {
  padding: 0.8em 20px 0.5em 0;
  font-size: 1em;
}

.annee {
  float: left;
  text-align: right;
}

.lieu {
  text-align: left;
}

h1 {
  font-size: 3em;
  padding: 2em 0 0.5em 0;
}

h2, h3, h4, h5 {
  padding: 1em 0 0.3em 0;
  line-height: normal;
  /*margin : 0.8em 0 0.3em 0;*/
  box-sizing: border-box;
}

h2 {
  font-size: 2.1em;
  padding-top: 0;
}

h3 {
  font-size: 2.3em;
  color: #A1060FF3;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
  padding: 0.6em 0;
  clear: both;
  /*padding : 1em 0 0.2em 0;*/
}

p {
  font-size: 1em;
  line-height: 1em;
  padding: 0.6em 0 0.3em 0;
}

ul {
  padding-left: 10px;
  /* list-style: url(""); */
}

li {
  font-size: 0.85em;
  line-height: 1.7em;
}

section li:before {
  content: '\f061';
  font-family: 'FontAwesome';
  /* float: left; */
  margin-right: 0.5em;
  color: #A1060FF3;
}

a {
  color: #A1060FF3;
}

/*// ------------------------------------- UP TO TOP */
.uptotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
}

.uptotop a {
  color: #A1060FF3;
}

/*// ------------------------------------- HEADER */
header {
  background: #eee;
  margin-bottom: -40px;
}

div#identite {
  display: table;
  margin: auto;
}

header div.container {
  display: table-cell;
  vertical-align: center;
}

ul#social-top {
  margin-top: 10px;
}

#social-top li {
  display: inline-block;
  color: #A1060FF3;
}

#social-top .fa {
  font-size: 1.8em;
}

header a {
  color: #A1060FF3;
  text-decoration: inherit;
}

#coordonnees, #photo-id {
  display: table-cell;
  height: 400px;
  vertical-align: middle;
}

#coordonnees {
  width: 75%;
  padding-left: 30px;
}

#photo-id {
  width: 25%;
  text-align: center;
}

#photo-id img {
  width: 100%;
  min-width: 150px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}


/*// ------------------------------------- NAV */
nav {
  background: #444;
  /*color: #FFFFFB;*/
  /*height: 80px;*/
  /*clear: both;*/
  /*display: none;*/
}

nav.container {
  background: #444;
}

nav ul {
  text-align: center;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: #A1060FF3; /* rouge */
  background-color: #dbdbdb;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
}

nav a:hover {
  color: white;
  background: #A1060FF3; /* rouge */
}

#burger {
  /* visiblity: hidden; */
  /* display: none; */
  width: 50px;
  height: 50px;
  padding: 12px 10px;
  box-sizing: border-box;

}

#burger div {
  height: 5px;
  width: 30px;
  border-radius: 2px;
  background: #222;
  margin: 5px 0;
}

/*// ------------------------------------- TITRE DU CV  */

div#titre {
  text-align: center;
  background: #A1060F; /* rouge */
  height: 350px;
  margin-top: -40px;
}

/*// ------------------------------------- ASIDE */

aside {
  text-align: center;
  padding: 30px;
}

aside li {
  /*font-size: 1.3em;*/
  /*margin: 8px 12px;*/
  margin: -0.2em -0.3em;
  padding: 20px 45px;
  color: #A1060FF3; /* rouge */
  background-color: rgba(175, 175, 175, 0.1);
  border-radius: 60px;
  border: 0.5px solid #A1060FF3;
  display: inline-block;
  transition: 0.5s;
}

aside li.xl {
  font-size: 2.2em;
  font-weight: bold;
}
aside li.l {
  font-size: 1.8em;
  font-weight: bold;
}
aside li.m {
  font-size: 1.5em;
}
aside li.s {
  font-size: 1.2em;
}
aside li.xs {
  font-size: 1em;
}

aside li:hover {
  color: white;
  background: #A1060FF3; /* rouge */
  transform: scale(1.05,1.05);
  cursor: pointer;
}

aside li.xl:hover {
  opacity: 1;
}
aside li.l:hover {
  opacity: 0.8;
}
aside li.m:hover {
  opacity: 0.6;
}
aside li.s:hover {
  opacity: 0.5;
}
aside li.xs:hover {
  opacity: 0.4;
}




/*// ------------------------------------- CONTACT */

#contact h3+p {
  margin-bottom: 30px;
}

p#nom,  p#prenom {
  display: inline-block;
  margin: 0;
}

form p {
  margin: 20px 0;
}

input {
  height: 30px;
}

input, textarea {
  border: 2px solid #A1060FF3; /* rouge */
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
}
#nom input, #prenom input {
  width: 245px;
}

#email input, #sujet input, textarea {
  width: 500px;
}

/*// ------------------------------------- FOOTER */

footer {
  color: #ddd;
  background-color: #333;
  font-size: 1em;
  /* padding: 0 0 40px 0; */
  height: 330px;
}

footer div.container {
  display: table;
  padding: 40px 0;
  width: 90%;
}

footer div+div {
  display: table-cell;
  width: 33%;
  vertical-align: top ;
}

footer a {
  color: inherit ;
}

footer div#footer-coordonnees {
  /*font-family: 'arial';*/
  /*font-weight: bold;*/
  color: #fa5757;
}

#social-bottom ul, #social-bottom p {
  text-align: center;
  padding: 0 35px;
}
#social-bottom li {
  font-size: 3.5em;
  margin: 3px 7px;
  display: inline-block;
}

#social-bottom li:before {
  /*content: '\f061';
  font-family: 'FontAwesome';
  margin-right: 0.5em;
  color: #A1060FF3; */
}

/* Media Queries ------------------------------------------- */
/* Breakpoint pour tablettes ------------------------------- */
@media screen and (max-width: 930px){
#social-bottom li {
  font-size: 2.8em;
}

}
/*Breakpoint pour mobiles ----------------------------------- */
@media screen and (max-width: 740px) {

  article {
    /* display: block; */
    width: 100%;
  }

  footer {
    /* display: block; */
    height: auto;
    /* padding-bottom: 30px; */
  }

  footer div+div {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px 0;
  }

  footer div.container {
  }

  /*footer ul {
    padding: 0;
    text-align: left;
  }*/

  #social-bottom ul, #social-bottom p, #menu ul {
    text-align: left;
    padding: 0;
  }



}
